
header {
    font-family: 'Noto Sans', sans-serif;
    /*debug*/
    /*background-color: green;*/
}

ul, li {
    list-style-type: none;
}

.container {
    /*debug*/
    /*background-color: darkgoldenrod;*/
    /*color: white;*/
}

/* HEADER */


.box-menu ul {
    display: flex;
    font-size: 15px;
}

.box-menu ul li {
    padding: 5px 20px;
}

.box-menu ul li a {
    color: #66696e;
}

/* MAIN */

.main-box {
    /*debug*/
    /*background-color: lightblue;*/
}

.box-questions {
    font-family: 'Noto Sans', sans-serif;
    font-size: 22px;
    color: #3c4043;
    margin: 20px 0;
    /*debug*/
   /* background-color: lightgreen;*/
}

.box-answers {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #3c4043;
    margin: 10px 0;
    /*debug*/
   /* background-color: lightpink;*/
}


/* FOOTER */

footer {
    display: flex;
    align-self: center;
    height: 50px;
    background-color: #ececec;
}

.box-footer ul {
    font-family: 'Roboto', sans-serif;
    display: flex;
    font-size: 15px;
}

.box-footer ul li {
    font-size: 11px;
    font-weight: 300;
    padding: 5px 10px;
}

.box-footer ul li a {
    color: #66696e;
}
